In [62]:
import pandas as pd
import numpy as np
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import mean_squared_error

In [4]:
data = pd.read_csv("Downloads\\GPA_data.CSV")

In [5]:
data.head()

,ID,Gender,Age,Extra_Curricular,Study_Hours,Annual_Income,Distance_From_Home,GPA
0,8867,Male,22,Societies,10,1318792,154,1.76
1,1316,Female,24,Societies,9,874657,181,3.88
2,9443,Male,22,Societies,15,1098331,94,1.73
3,1829,Female,25,No,9,1680585,8,1.29
4,1989,Male,26,No,7,1361560,122,3.19

In [6]:
data[["Gender","Extra_Curricular"]]

     Gender Extra_Curricular
0      Male        Societies
1    Female        Societies
2      Male        Societies
3    Female               No
4      Male               No
..      ...              ...
995  Female               No
996    Male               No
997    Male           Sports
998    Male        Societies
999    Male               No

[1000 rows x 2 columns]

In [9]:
dummy = pd.get_dummies(data[["Gender","Extra_Curricular"]])

In [29]:
dummy.head()

   Gender_Male  Extra_Curricular_Societies  Extra_Curricular_Sports
0            1                           1                        0
1            0                           1                        0
2            1                           1                        0
3            0                           0                        0
4            1                           0                        0

In [30]:
data.drop(["Gender","Extra_Curricular"],axis=1,inplace=True)

In [31]:
data.head()

     ID  Age  Study_Hours  Annual_Income  Distance_From_Home   GPA
0  8867   22           10        1318792                 154  1.76
1  1316   24            9         874657                 181  3.88
2  9443   22           15        1098331                  94  1.73
3  1829   25            9        1680585                   8  1.29
4  1989   26            7        1361560                 122  3.19

In [32]:
data.drop("ID",axis=1,inplace=True)

In [33]:
data.head()

   Age  Study_Hours  Annual_Income  Distance_From_Home   GPA
0   22           10        1318792                 154  1.76
1   24            9         874657                 181  3.88
2   22           15        1098331                  94  1.73
3   25            9        1680585                   8  1.29
4   26            7        1361560                 122  3.19

In [34]:
data_new = pd.concat([dummy,data],axis=1)

In [35]:
data_new.head()

,Gender_Male,Extra_Curricular_Societies,Extra_Curricular_Sports,Age,Study_Hours,Annual_Income,Distance_From_Home,GPA
0,1,1,0,22,10,1318792,154,1.76
1,0,1,0,24,9,874657,181,3.88
2,1,1,0,22,15,1098331,94,1.73
3,0,0,0,25,9,1680585,8,1.29
4,1,0,0,26,7,1361560,122,3.19

In [41]:
x = data_new.iloc[:,:7].values
y = data_new.iloc[:,7].values

In [46]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,random_state=0)

In [47]:
model = LinearRegression()

In [48]:
model.fit(x_train,y_train)

LinearRegression()

In [49]:
model.intercept_

2.2647935280483167

In [50]:
model.coef_

array([-5.12717033e-02,  2.65567024e-02,  4.36877818e-02,  1.12426507e-02,
       -1.03471765e-02,  9.62872140e-08, -2.21608112e-04])

In [53]:
model.score(x_train,y_train)*100

0.7164234631799826

In [54]:
y_pred=model.predict(x_test)

In [60]:
MSE = mean_squared_error(y_pred,y_test)
MSE

0.7423989909750032

In [63]:
RMSE = np.sqrt(MSE)

In [64]:
RMSE

0.8616257836062029